<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="c:\\Users\\USER\\source\\repos\\Invest\\Project\internal_logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
            fileName="c:\\Users\\USER\\source\\repos\\Invest\\Project\\logs\\${shortdate}_logfile.json"
            layout="JsonLayout">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=ToString}" />
				<attribute name="requestPath" layout="${mdlc:item=RequestPath}" />
				<attribute name="requestMethod" layout="${mdlc:item=RequestMethod}" />
				<attribute name="controller" layout="${mdlc:item=Controller}" />
				<attribute name="action" layout="${mdlc:item=Action}" />
				<attribute name="user" layout="${mdlc:item=User}" />
				<attribute name="traceId" layout="${mdlc:item=TraceId}" />
				<attribute name="parameters" layout="${mdlc:item=Parameters}" />
				<attribute name="requestBody" layout="${mdlc:item=RequestBody}" />
				<attribute name="environment" layout="${mdlc:item=Environment}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>